<?xml version="1.0"?>
<config>
	<modules>
    	<Tadeurodrigues_Braspress>
      		<version>2.1.1</version>
    	</Tadeurodrigues_Braspress>
  	</modules>
    <global>
    	<blocks>
        	<braspress>
            	<class>Tadeurodrigues_Braspress_Block</class>
        	</braspress>
		</blocks>
        
        <helpers>
            <braspress>
                <class>Tadeurodrigues_Braspress_Helper</class>
            </braspress>
        </helpers>
        
        <models>
            <braspress>
                <class>Tadeurodrigues_Braspress_Model</class>
            </braspress>
        </models>
        
		<resources>
	    	<braspress_setup>
	        	<setup>
	          		<module>Tadeurodrigues_Braspress</module>
	        	</setup>
	        	<connection>
	        		<use>core_setup</use>
	        	</connection>
			</braspress_setup>
    	</resources>
    </global>
    
    <admin>
    	<routers>
            <adminhtml>
                <args>
                    <modules>
                        <braspress after="Mage_Adminhtml">Tadeurodrigues_Braspress</braspress>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <braspress>
                                            <title>Braspress Settings</title>
                                        </braspress>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <default>
        <carriers>
            <braspress>
                    <active>1</active>
                    <sallowspecific>0</sallowspecific>
					<model>Tadeurodrigues_Braspress_Model_Carrier_Default</model>
                    <name>Braspress</name>
                    <method_name>Braspress</method_name>
                    <title>Braspress</title>
                    <specificerrmsg>Houve um problema interno.</specificerrmsg>
                    <use_default>0</use_default>
                    <cnpj_default>02049076000137</cnpj_default>
                    <handling_type>R</handling_type>
            </braspress>
        </carriers>
    </default>
</config>