<?xml version="1.0"?>
<config>
   <sections>
    <carriers>
        <groups>
            <braspress translate="label" module="shipping">
                <label>Braspress</label>
                <frontend_type>text</frontend_type>
                <sort_order>13</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>	
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        0</sort_order>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <method_name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </method_name>
                        <min_carrier_active translate="label">
                            <label>Ativar Valor Mínimo de Frete?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Escolha se deve ser adotado um valor de frete mínimo sobre o valor do pedido (Sim) ou o determinado pela Braspress (Não).]]></comment>
                        </min_carrier_active>
                        <min_carrier_value translate="label">
                            <label>Valor Mínimo de Frete</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Quando o valor do frete deve ser um mínimo sobre o valor do pedido (somente números e vírgula). Valor deve maior que 0,00.]]></comment>
                        </min_carrier_value>
                        <min_carrier_max_order_value translate="label">
                            <label>Valor Máximo do Pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Quando o valor do frete deve ser um mínimo sobre o valor do pedido (somente números e vírgula). Valor deve maior que 0,00.]]></comment>
                        </min_carrier_max_order_value>
                        <percentage_over_order_value translate="label">
                            <label>Valor do Frete Deve Ser um Percentual Sobre o Valor do Pedido?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Escolha se o valor do frete deve ser um percentual sobre o valor do pedido (Sim) ou o determinado pela Braspress (Não).]]></comment>
                        </percentage_over_order_value>
						<percentage translate="label">
                            <label>Porcentagem (%)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Quando o valor do frete deve ser um percentual sobre o valor do pedido (somente números e vírgula). Valor deve ser de 0,01 e 99,99.]]></comment>
                        </percentage>
                        <cnpj translate="label">
                            <label>CNPJ da Loja</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cnpj>
                        <use_default translate="label">
                            <label>usar CNPJ para o cálculo</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>111</sort_order>
                            <source_model>braspress/source_cnpjDefault</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_default>
						<validation translate="label comment">
                            <label>Validation</label>
                            <button_label>Validation</button_label>
                            <sort_order>112</sort_order>
                            <frontend_model>braspress/adminhtml_system_config_Validation</frontend_model>
                            <comment>
                            	Teste para verificar a autorização do CNPJ junto a Braspress.
                            	OBS: se deixa o CNPJ vazio o sistema ira apenas verificar o acesso.
                            	NÂO É NECESSARIO SALVAR
                            </comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </validation>
                        <cnpj_default>
                        	<label>CNPJ Padrão</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>113</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                            	<use_default>2</use_default>
                            </depends>
                        </cnpj_default>
                        <access_type translate="label">
                            <label>Tipo de Acesso</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspress/source_accessType</source_model>
                            <sort_order>114</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </access_type>
                        <delivery_time translate="label">
                            <label>Exibir Prazo</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>115</sort_order>
                            <!--<depends>
                            	<access_type>1</access_type>
                            </depends> -->
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delivery_time>
                        <shipping_type translate="label">
                            <label>Tipo de Frete</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspress/source_shippingType</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_type>
                        <modal_type translate="label">
                            <label>Modal</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspress/source_modalType</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </modal_type>
                        <weight_type translate="label">
                            <label>Peso</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspress/source_weightType</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </weight_type>
                        <measure_type translate="label">
                            <label>Unidade de Medida dos Produtos</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspress/source_measureType</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </measure_type>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>900</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>910</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>920</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>800</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        <mode_xml translate="label comment">
                            <label>Mode</label>
                            <comment>Enables/Disables SSL verification of Magento server by UPS.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>usa/shipping_carrier_ups_source_mode</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mode_xml>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>920</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                    </fields>
                </braspress>
            </groups>
        </carriers>
    </sections>
</config>